@import "./palette";

// @import url("https://fonts.googleapis.com/css?family=Lobster|Sacramento|Poiret+One");
// @import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500");
// @import url("https://fonts.googleapis.com/css?family=Playfair+Display:600");
// @import url("https://fonts.googleapis.com/css?family=Hammersmith+One:300,400,500");
// @import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Shadows+Into+Light");
// @import url("https://fonts.googleapis.com/css?family=Catamaran|Expletus+Sans|Mukta|Pavanam&display=swap");
@import "~react-toastify/dist/ReactToastify.min.css";
@import "./overrides.scss";

body {
  font-size: 16px;
  // font-family: "Hammersmith One";
  font-family: "Covered By Your Grace", cursive;
  background: #ffffef;
  color: #000;
  background-image: linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 1) 0,
      transparent 5.1em
    ),
    linear-gradient(rgba(0, 0, 200, 0.1) 1px, transparent 0);
  background-size: 100% 2em;
  min-height: 100vh; //TEMP
}
#root {
  min-height: 100vh; //TEMP
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Hammersmith One";
  cursor: pointer;
}

.button,
.button--primary {
  border: 0;
  // background: map-get($map: $color-map, $key: "chilli");
  background: none;
  color: map-get($map: $color-map, $key: "black");
  font-family: "Hammersmith One";
  font-size: 14px;
  padding: 7px 21px;
  // border-radius: 100px;
  letter-spacing: 0.1em;
  cursor: pointer;
  &:hover {
    // background: map-get($map: $color-map, $key: "sea");
    background: linear-gradient(
      45deg,
      map-get($map: $color-map, $key: "lagoon") 0%,
      map-get($map: $color-map, $key: "sea") 100%
    );
    color: map-get($map: $color-map, $key: "white");
  }
  &.button--primary {
    background: linear-gradient(
      45deg,
      map-get($map: $color-map, $key: "lagoon") 0%,
      map-get($map: $color-map, $key: "sea") 100%
    );
    color: map-get($map: $color-map, $key: "white");
    &:hover {
      background: linear-gradient(
        45deg,
        map-get($map: $color-map, $key: "burnt-orange") 0%,
        map-get($map: $color-map, $key: "sea") 100%
      );
    }
  }
  &.button--secondary {
    color: rgba(map-get($map: $color-map, $key: "black"), 0.54);
    &:hover {
      background: none;
      color: map-get($map: $color-map, $key: "sea");
      // border: 2px solid map-get($map: $color-map, $key: "sea");
    }
  }
}
